<div class="container">
  <div class="cat-container">
    @for(cat of cats(); track cat.id) {
    <div class="cat-item">
      <img class="cat-image" [src]="cat.url" alt="cat.id" />
      <div class="cat-details">
        <p>Width: {{ cat.width }}</p>
        <p>Height: {{ cat.height }}</p>
        <p>
          @if(cat.breeds && cat.breeds.length > 0) { Breed:
          {{ cat.breeds[0].name }}
          } @else { Breed: - }
        </p>
      </div>
    </div>
    }
  </div>
</div>
